<div class="row spacer">
	<div class="col-sm-12 ">
	</div>
</div>

<div class="row">
	<div class="col-sm-12 ">
		<h2> Login to start winning cash! </h2>
	</div>
</div>
<user-form></user-form>


<!-- Login Button -->
  <!-- 	<div class="row">
  		<div class="col-sm-12">
  			<a [routerLink]="['Video']"><button  type="button" class="btn btn-primary btn-lg center-block">Sign Up</button></a>
  			<router-outlet></router-outlet>      
  		</div>
  	</div> -->

<!--     (click)="startTimer()"
 -->
<!-- 
<div class="row">
  <div class="col-sm-12">
     <! Button trigger modal -->
    <!-- button class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#myModalNorm">
        Sign-Up in 15 Seconds!
    </button> -->

    <!-- Modal -->
    <!-- set visibility to disappear -->
<!--     <div [style.display] = "visibility()"
  (click)="disappear = pressed"
 -->     
    <!-- <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"> -->
                <!-- Modal Header -->
              <!--   <div class="modal-header">
                    <button type="button" class="close" 
                       data-dismiss="modal">
                           <span aria-hidden="true">&times;</span>
                           <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Sign up in 15 seconds!
                    </h4>
                </div> -->
                
                <!-- Modal Body -->
               <!--  <div class="modal-body">
          
                    <form role="form">
                      <div class="form-group">
                        <la --><!-- bel for="exampleInputEmail1">Email address</label> -->
                  <!-- fix this one up -->
                        <!--   <input type="text" class="form-control"

                      </div>


                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control"
                              id="exampleInputPassword1" placeholder="Password"/>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"/> I am over the age of 18 years old.
                        </label>
                      </div> -->
                      
                     <!--  <button type="submit" class="btn btn-default">Submit</button> -->
               <!--       </form>
                </div>
 -->
                <!-- Modal Footer -->
             <!--    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                    <a [routerLink]="['Video']">
                    <button type="submit" data-dismiss="modal" id="submit"class="btn btn-primary">
                        Sign Up!
                    </button> </a>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet> 
  </div>
</div> -->



